@import "./app.scss";

.app_container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primaryBG;
}

.body {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 480px) {
    max-width: 350px;
  }

  @media only screen and (max-width: 380px) {
    max-width: 320px;
  }

  > p {
    font-size: 2rem;
    font-family: "Crete Round", serif;
    margin-top: 6rem;
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;

    li {
      padding-bottom: 0.4rem;

      // &:before {
      //   content: "+";
      //   font-size: 0.7rem;
      //   display: inline-block;
      //   font-weight: bold;
      //   margin-right: 0.5rem;
      //   color: $primaryBG;
      // }
    }
  }
}

.footer {
  background-color: $s-blue;
  box-shadow: $s-blue 0px 1px 3px 0px;
}
