.book_info {
  margin-left: 1rem;

  @media (max-width: 480px) {
    margin-left: 0;
    margin-top: 1rem;
  }

  .reserva {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.5em;

    p {
      font-size: 1.2rem;
    }
  }

  .info_container {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 0.5rem;
    column-gap: 1rem;

    .title {
      font-weight: 900;
    }

    .info {
      padding-left: 0.5rem;
    }
  }
}
