.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal {
  width: 650px;
  height: 600px;
  background: white;
  border-radius: 16px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  padding: 1rem;

  @media only screen and (max-width: 600px) {
    width: 380px;
    height: 500px;
  }

  @media only screen and (max-width: 480px){
    width: 340px;
    height: 380px;
  }
}

.modalContent {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

}

.arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 100%;
  margin-left: auto;
}

.button {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}


