.grid_container {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 2em;

  @media only screen and (max-width: 600px) {
    row-gap: 2rem;
  }

  > div {
    @media only screen and (max-width: 600px) {
      grid-column: 1/-1;
    }

    &:first-child {
      padding-right: 1rem;
    }

    > p {
      font-size: 1.1rem;
    }
  }
}
