.container {
  padding: 1em 0em;
  margin-bottom: 3rem;

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: "Crete Round", serif;
  }

  .image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      height: 60px;
      width: 60px;
    }

    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.2);
      padding: 1rem;
    }
  }
}
